:root {
  --text: #20182a;
  --text-h: #23373c;
  --bg: #fbfaf8;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #f90;
  --accent-bg: rgba(249, 153, 0, 0.1);
  --accent-border: rgba(249, 153, 0, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --primary: #09f;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Merriweather Sans', sans-serif;
  --heading: 'Merriweather', serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f6f5f3;
    --text-h: #eeece8;
    --bg: #000917;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #f90;
    --accent-bg: rgba(249, 153, 0, 0.15);
    --accent-border: rgba(249, 153, 0, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .btn-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}
*{
  line-height: 110%;
  font-family: var(--sans);
}

#root {
  max-width: 100%;
  min-height: 100svh;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

h1,
h2, h3 {
  font-family: var(--heading);
  font-weight: bold;
  color: var(--text-h);
}

h1 {
  font-size: 3rem;
  letter-spacing: -1.68px;
  line-height: 118%;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 2.5rem;
    margin: 20px 0;
  }
}
h2 {
  font-size: 2rem;
  line-height: 118%;
  letter-spacing: 1%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-family: var(--heading);
  font-size: 1.5rem;
  line-height: 118%;
  letter-spacing: 1%;
  margin: 0 0 8px;
    @media (max-width: 1024px) {
    font-size: 1.25rem;
  }
}
a{
  color: var(--primary);
}
a:hover{
  text-decoration: none;
}
a:active{
  color: var(--accent);
}
p {
  margin: .5rem 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


.btn-icon{
  cursor: pointer;
}